In [2]:
import sqlite3 as sql
import pandas as pd

In [11]:
df = pd.DataFrame([ {'a':1,'b':2} for i in range(10)], index= range(10))
df

   a  b
0  1  2
1  1  2
2  1  2
3  1  2
4  1  2
5  1  2
6  1  2
7  1  2
8  1  2
9  1  2

In [15]:
conn = sql.connect('caio.db')
df.to_sql('my_table', conn,index=False,if_exists = 'replace')

In [16]:
conn = sql.connect('caio.db')
df_fromsql = pd.read_sql('SELECT * FROM my_table', conn)
df_fromsql

   a  b
0  1  2
1  1  2
2  1  2
3  1  2
4  1  2
5  1  2
6  1  2
7  1  2
8  1  2
9  1  2

In [17]:
pwd

'C:\\Users\\NogueiraGenario\\iCloudDrive\\studies'